@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body , html{
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
header{
    width: 100vw;
    height: 100vh;
    background-image: url(./images/bg7.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-content{
    margin-bottom: 150px;
    color: whitesmoke;
    text-align: center;
}
.header-content h2{
    font-size: 4vmin;
}
.line {
width: 150px;
height: 4px;
background: #fc036b;
border-radius: 5px;
margin-left: 200px;
margin-top: 9px;
margin-bottom: 10px;
align-items: center;
}
.header-content h1{
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}
/*.header-content input{
    padding: 8px, 15px;
    background:#fc036b;
    color: whitesmoke;
    border-radius: 30px;
}*/
.header-content input[type=submit]{
    width: 160px;
    padding: 16px;
    color: white;
    font-size: 15px;
    border: none; 
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 10px;
    background-color: #fc036b
}
.header-content input[type=submit]:hover{
    font-weight: 600;
    color: black;
    background: #cfcfe4;
}
/*****Navbar****/
.navbar{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;
    background-color: #333;
    width: 100%;
}
.navbar img{
    display: none;
}
ul{
    list-style:none ;
}
.nav-links{
    display: flex;
    align-items: center;
}
.nav-links li{
    margin: 0 30px;
}
.nav-links li:hover{
    background-color: #fc036b;
}
.nav-links li a{
    text-decoration: none;
    color: whitesmoke;
}
.Logo{
    margin-right: 700px;
}
/*.navbar{
    display: flex;
    width: 100%;
    color: whitesmoke;
    background-color: rgb(83, 83, 83);
    justify-content: space-between;
    padding: 20px;
    
}
.Logo{
    font-size: 1.5rem;
    margin: .5rem;
}
.nav-links ul{
    padding: 0;
    margin: 0;
    display: flex;
}
.nav-links li{
    list-style: none;
}
.nav-links li a{
    text-decoration: none;
    color: whitesmoke;
    padding: 1rem;
    display: block;
}
.nav-links{
    display: flex;
    align-items: center;
    color: whitesmoke;
    margin-left: 500px;
     
}
.nav-links a{
    margin: 0 10px;
    color: whitesmoke;
    text-decoration: none;
}
.nav-links li:hover{
    background-color: #fc036b;
}
.toggle-button{
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    
}
.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color:whitesmoke;
    border-radius: 10px;
}
@media (max-width: 850px){
     .toggle-button{
        display: flex;
     }
     .nav-links{
        /*display: none; 
        width: 100%;
        
     }
     .navbar{
         flex-direction: column;
         align-items: flex-start;
     }
     ul{
         flex-direction: column;
         width: 100%;
     }
     .nav-links li{
         text-align: center;
       
     }
     .nav-links li a{
        padding: .5rem 1rem;
     }
}
/** Event****/
section{
    width: 80%;
    margin: 80px auto;
}
.title{
  text-align: center;
  font-size: 4vmin; 
  color: #49497e; 
}
/*.line2{
    width: 150px;
    height: 4px;
    background: #fc036b;
    border-radius: 5px;
    margin-left: 100px;
    margin-top: 9px;
    margin-bottom: 10px;
    align-items: center;  
}*/
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;
}
.row .col img{
    width: 90%;
}
.row .col{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.events .row{
    margin-top:50px ;
}
.events h4{
    font-size: 3vmin;
    color: #484872;
    margin: 20px auto;
}
.events p{
    color: #7c7c7c;
    padding: 0px 40px;
}
.events input[type=submit]{
    width: 160px;
    padding: 16px;
    color: white;
    font-size: 15px;
    border: none; 
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 10px;
    background-color: #fc036b
}
.events input[type=submit]:hover{
    font-weight: 600;
    color: black;
    background: #cfcfe4;
}
.container{
    background-color: cornsilk;
    width: 940px;
    height: 600px;
    margin-top: 20px;
    padding: 20px;
}
.container h4{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 25px;
}
.container h2{
    margin-top: 40px;
}
.service-container{
    background-color: cornsilk;
    width: 940px;
    height: 600px;
    margin-top: 20px;
    padding: 60px;
}
.cont-1 {
    height: 150px;
    margin-top: 40px;
    margin-bottom: px 0;
    

}

.cont-1-info{
    width: 283px;
    height: 170px;
    margin: 10px 30px;
    display: flex;
    justify-content: space-between;
}
.cont-1-info img{
    width: 200px;
    height: 150px;
}
.cont-2 {
    height: 150px;
    margin-top: 60px;
    

}

.cont-2-info{
    width: 283px;
    height: 170px;
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
}
.cont-2-info img{
    width: 200px;
    height: 150px;
}
img{
    transition: transform .3s ease;
}
img:hover{
    transform: scale(1.1);
}
.explore{
    width: 100%;
    height: 100vh;
    background-image: url(images/istockphoto-467112479-612x612.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}
.explore-content{
    width: 60%;
    padding: 50px;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    .explore-content h1{
    font-size: 7vmin;
    margin-bottom: 50px;
    }
    .explore-content p{
        width: 90%;
        font-size: 18px;
        color: rgb(240, 238, 238);
    }
    .explore-content .line{
        margin-right: 100px;
        margin-top: -15px;
    }
    .explore-content input[type=submit]{
        width: 160px;
        padding: 16px;
        color: white;
        font-size: 15px;
        border: none; 
        border-radius: 20px;
        margin-top: 20px;
        margin-left: 10px;
        background-color: #fc036b
    }
    .explore-content input[type=submit]:hover{
        font-weight: 600;
        color: black;
        background: #cfcfe4;
    }
    .Tours{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 80px;
    }
  
    .photo{
        top:0%;
        width: 80%;
        padding-right: 40px;
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
      
        }
        .photo img{
          width: 60%;
          height: 250px;
          margin-left: 10px;
          border-radius: 5px;
        }
    .content-col p{
      color:black;
      width: 70%;
      margin-top: 30px;
      font-size: 17px;
    }
    .content-col h1{
        color: black;
        padding-top: 60px;
        font-size: 30px;
        margin-top: 20px;
      }

      .Tours input[type=submit]{
        width: 160px;
        padding: 16px;
        color: white;
        font-size: 15px;
        border: none; 
        border-radius: 20px;
        margin-top: 20px;
        margin-left: 100px;
        background-color: #fc036b;
    }
    .Tours input[type=submit]:hover{
        font-weight: 600;
        color: black;
        background: #cfcfe4;
    }
    .contact-container{
        background-color: cornsilk;
        width: 940px;
        height: 600px;
        margin-top: 90px;
        padding: 60px; 
        /*display: flex;
        justify-content: space-between; */
    }
    .fot-footer{
        margin-top: 100px;
    }
    .contact-container h1{
        text-align: center;
    }
    .contact-container p{
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
        margin-left: 60px;
    }
    fieldset{
        border-radius: 10px;
        padding: 30px;
        position: absolute;
        width: 450px;
        height: 390px;
        left: 380px;
        top: 320px;
        box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        background: #FFFFFF;
    }
    
    legend{
        font-size: 30px;
        font-weight: 600;
        color: black;
    }
    
    input[type="text"],
    input[type="name"]{
        width: 90%;
        padding: 8px 10px;
        font-size: 15px;
        border-radius: 5px;
        outline: none;
        border: none; 
        border: 1.5px solid black;
        margin: 10px 0px;
    }
    
    input[type="text"]:focus, input[type="name"]:focus{
        border: 1.5px solid black;
    }
    
    textarea{
        width: 90%;
        height: 100px;
        resize: none;
        border-radius: 5px;
        padding: 10px;
        font-size: 15px;
        margin-top: 20px;
        outline: none;
        border: 1.4px dashed black;
    }
    
    textarea:focus{
        border: 1.5px solid black;
    }
    
    #comment{
        margin-top: 20px;
        font-weight: 500;
        font-size: 18px;
    }
    
    fieldset input[type=submit]{
        color: #FFFFFF;
        width:130px;
        height:45px;
        margin-top: 40px;
        padding: 5px;
        margin-left: 400px;
        border-radius: 20px;
        font-size: 18px;
        font-weight: 600;
        border: none; 
        background: #fc036b;
    }
    
    fieldset input[type=submit]:hover{
        font-weight: 600;
        color: black;
        background: #cfcfe4;
    }
    .register-container{
        background-color: cornsilk;
        width: 940px;
        height: 570px;
        margin-top: 40px;
        padding: 60px; 
        display: flex;
        justify-content: space-between;
    }
.register-container #option
{
 float:left;
 font-family: helvetica, arial, sans-serif;
}
.register-container #option
{
 margin-top:30px;
 width:590px;
 text-align:left;
}
.register-container #option p
{
 font-size:20px;
 margin:0px;
 color:#1f2020;
}
.register-container #option img{
    width: 430px;
	height: 300px;
    margin-top: 40px;
    border-radius: 20px;
} 

.register-container #option-1
{
 width:440px;
 text-align:center;
}
.register-container #option-1 h1
{
 margin:0px;
 font-size:31px;
 color:#2E2E2E;
 margin-top: 20px;
}
.register-container #option-1 p
{
 font-size:18px;
 color:#2E2E2E;
 margin-right: 40px;
 margin-bottom: 20px;
}
.register-container #option-1 li
{
 list-style-type:none;
 margin-top:10px;
}
.register-container #option-1 li #firstname
{
 width:49%;
}
.register-container #option-1 li #surname
{
 margin-left:2%;
 width:49%;
}
.register-container #option-1 li input[type="text"]
{
 width:80%;
 height:50px;
 border-radius:10px;
 padding-left:8px;
 font-size:12px;
 border:1px solid #BDBDBD;
}
.register-container #option-1 li input[type="password"]
{
 width:100%;
 height:50px;
 border-radius:10px;
 padding-left:8px;
 font-size:12px;
 border:1px solid #BDBDBD;
}
.register-container #option-1 li input[type="email"]
{
 width:100%;
 height:50px;
 border-radius:10px;
 padding-left:8px;
 font-size:12;
 border:1px solid #BDBDBD;
}
.register-container #option-1 li
{
 color:#2E2E2E;
 font-size:15px;
}
.register-container #option-1 li input[type="submit"]
{
 width:190px;
 height:45px;
 text-align:center;
 font-size:17px;
 margin-top: 10px;
 margin-bottom: 8px;
 font-family: sans-serif;
 font-weight: bold;
 background:#fc036b, #fc036b;
 background-color: #fc036b;
 box-shadow: #fc036b;
 border-color:#fc036b  #fc036b;
 border: 1px solid;
 border-radius: 20px;
 color: #fff;
 cursor: pointer;
 display: inline-block;
 position: relative;
 text-shadow:rgba(0,0,0,.5);
}
.register-container #option-1 li input[type=submit]:hover{
    font-weight: 600;
    color: black;
    background: #b4bfc7;
}
    .footer{
       width: 100%;
       height: 200px; 
       padding: 20px 80px;
       margin: 0;
       background: #484872;
       text-align: center;
    }
    .footer p{
        color: whitesmoke;
        margin: 20px auto;
        padding: 50px auto;
    }
    .footer a{
        color: white;
        text-decoration: none;
    }
    .footer a:hover{
        color: rgb(228, 13, 13);
        text-decoration: underline;
    }
    .menu-btn{
        position: absolute;
        top: 30px;
        right: 30px;
        width: 40px;
        align-items: center;
        cursor: pointer;
    }
/****Mobile device*****/
@media only screen and (max-width:850px){
    .navbar{
        padding: 0;
    }
    body{
        overflow: hidden;
    }
    .Logo{
        position: absolute;
        top: 30px;
        left: 40px;
    }
    .nav-links{
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background: #484872;
        margin-top: -900px;
    }
    .nav-links img{
        margin-right: 20px;
        width: 30px;
        display: flex;
    }
    .mobile-menu{
        margin-top: 0px;
    }
    .nav-links li{
        margin: 30px auto;
        color: whitesmoke;
    }
    /*header{
        width: 800px;
        height: 100vh;
        background-image: url(./images/bg7.jpg);
        background-position: bottom;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
    }*/
    .row{
        flex-direction: column;
    }
    .col img{
        max-width: 90%;
    }
    .row .col{
        margin: 20px auto;
    }
    .explore-content{
        width: 100%;
    }
    .explore-content p{
        width: 80%;
        margin-right: 50px;
    }
    .header-content{
        margin-bottom: 150px;
        color: whitesmoke;
        text-align: center;
        margin-right: 10px;
    }
    .Tours{
        flex-direction: column;
    }
    .Tours input[type=submit]{
        margin-right: 20px;
    }
    .Tours .col{
        width: 100%;
    }
    .header-content h2{
        font-size: 4vmin
    }
    .photo{
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .content-col{
        width: 100%;
    }
    .content-col h1{
        font-size: 30px;
        width: 60%;
        margin-left: 70px;
    }
    .content-col p{
        width: 60%;
        margin-left: 60px;
    }
    .pic{
        flex-direction: column;
    }
    .photo img{
        width: 100%;
        margin-left: 70px;
    }
    .footer{
        padding: 10px;
    }
    .line {
        width: 150px;
        height: 4px;
        background: #fc036b;
        margin-left: 50px;
        margin-top: 10px;
        border-radius: 5px;
        }
        .header-content h1{
            font-size: 20px;
            margin-top: 30px;
            margin-bottom: 10px;
            margin-right: 20px;
        }
        .line2{
            width: 150px;
            margin-left: 20px;
        }
        .container{
            background-color: cornsilk;
            width: 940px;
            height: 750px;
            margin-top: 140px;
            padding: 20px;
        }
        .container p{
            overflow: scroll;
            height: 600px;
            margin-top: 10px;
        }
        .events{
            margin-top: 100px;
        }
        .cont-1-info{
            flex-direction: column;
        }
        .cont-2-info{
            flex-direction: column;
            margin-top: 360px;
            margin-left: 30px;
        }
        .files{
            margin-top: 450px;
        }
        .service-container{
            background-color: cornsilk;
            width: 940px;
            height: 1000px;
            margin-top: 400px;
            padding: 60px;
        }
        .register-container{
            background-color: cornsilk;
            width: 940px;
            height: 950px;
            margin-top: 400px;
            padding: 60px; 
            flex-direction: column;
            margin-left: 170px;
        }
        .register-container #option p{
                font-size:20px;
                width: 70%;
                margin-left: 25px;
                color:#1f2020;
        }
        .register-container #option img{
                    width: 350px;
                    height: 300px;
                    margin-top: 40px;
                    margin-left:20px;
                    border-radius: 20px;
        } 
        .register-container #option-1{
            width:330px;
            text-align:center;
            margin-left: 30px;
            }
         .main-footer{
             margin-top: 400px;
         }
        #option p{
            font-size: 15px;
            width: 70%;
            margin-left: 350px;
            margin-right: 20px;
        }
        .contact-container{
            background-color: cornsilk;
            width: 940px;
            height: 760px;
            margin-top: 200px;
            padding: 60px; 
            /*display: flex;
            justify-content: space-between; */
        }
        .fot-footer{
            margin-top: 100px;
        }
        .contact-container h1{
            text-align: center;
        }
        .contact-container p{
            margin-top: 20px;
            margin-bottom: 20px;
            width: 100%;
            margin-left: 10px;
        }
        .contact-container img{
            overflow: hidden;
        }
        fieldset{
            border-radius: 10px;
            padding: 30px;
            position: absolute;
            width: 100px;
            height: 390px;
            left: 10px;
            top: 450px;
            box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
            border-radius: 10px;
            background: #FFFFFF;
        }
        input[type="text"],
        input[type="name"]{
        width: 90%;
        padding: 8px 10px;
        font-size: 15px;
        border-radius: 5px;
        outline: none;
        border: none; 
        border: 1.5px solid black;
        margin: 10px 0px;
    }
    
    input[type="text"]:focus, input[type="name"]:focus{
        border: 1.5px solid black;
    }
    textarea{
        width: 90%;
        height: 100px;
        resize: none;
        border-radius: 5px;
        padding: 10px;
        font-size: 15px;
        margin-top: 20px;
        outline: none;
        border: 1.4px dashed black;
    }
    fieldset input[type=submit]{
        color: #FFFFFF;
        width:130px;
        height:45px;
        margin-top: 40px;
        padding: 5px;
        margin-left: 200px;
        border-radius: 20px;
        font-size: 18px;
        font-weight: 600;
        border: none; 
        background: #fc036b;
    }
}    















